.invalid-credentials
  padding: 5px 10px
  font-family: Arial, Helvetica, sans-serif
  font-size: 14px
  background: #d65555
  color: #EEE

h3
  font-size: 20px
  color: #0099DD
  font-weight: normal
  font-family: Arial 

span
  font-size: 14px
  color: #777
  font-family: Arial, Helvetica, sans-serif

input, select
  padding: 10px
  width: calc( 100% - 20px )
  border: 1px solid #CCC
  background: #FFF
  font-size: 14px
  color: #333333
  font-family: Arial, Helvetica, sans-serif

  &::-webkit-input-placeholder /* Chrome/Opera/Safari */
    color: #CCC;
  &::-moz-placeholder/* Firefox 19+ */
    color: #CCC;
  &:-ms-input-placeholder/* IE 10+ */
    color: #CCC;
  &:-moz-placeholder/* Firefox 18- */
    color: #CCC;
  
button
  width: 100%
  padding: 10px
  border: none 
  background: #0056b8
  color: #eeeeee
  font-size: 14px

a
  color: #058
  font-size: 14px
  font-family: Arial, Helvetica, sans-serif
  cursor: pointer