div.bg.cover
    div.a
    div(style="background: url(https://www.belatrixsf.com/wp-content/themes/Belatrix/images/hero-img-medium.jpg) no-repeat center center; background-size: cover").b

div.logo
    img(src="https://s3.amazonaws.com/enterprise-guide/logos/company/Belatrix-logo.png", alt="")

div.form-container
    ui-view